@charset "utf-8";
/* CSS Document */
body {
  margin: 0;
  background: rgb(214,141,186);
  background: linear-gradient(180deg, rgba(214,141,186,0.9838060224089635) 87%, rgba(255,242,217,1) 100%, rgba(214,141,186,1) 100%);
}

#btn-back-to-top {
  position: fixed;
  background-color: #FFFFC1;
outline: solid;
  color: black;
  border-radius: 100%;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 1000;
}
.topnav {
  overflow: hidden;
  background-color: #FFFFC1;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}
.topnav a.click{
	padding-top: 25px;
}

.topnav a:hover {
  color: rgb(214,141,186);
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.wrapper {
  display: flex;
  max-width: 65vw;
  width: 100%;
  height: 40vw;
  background: #fff;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 1vw;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.wrapper i.button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 3.6vw;
  width: 3.6vw;
  background-color: #343f4f;
  border-radius: 50%;
  text-align: center;
  line-height: 3.6vw;
  color: #fff;
  font-size: 1.5vw;
  transition: all 0.3s linear;
  z-index: 100;
  cursor: pointer;
}
i.button:active {
  transform: scale(0.94) translateY(-50%);
}
i#prev {
  left: 2.5vw;
}
i#next {
  right: 2.5vw;
}
.image-container {
  height: 30vw;
  max-width: 550px;
  width: 100%;
  overflow: hidden;
}
.image-container .carousel {
  display: flex;
  height: 100%;
  width: 100%;
  transition: all 0.4s ease;
}
.carousel img {
  height: 100%;
  width: 100%;
  border-radius: 1.8vw;
  border: 10px solid #fff;
  object-fit: cover;
}

/*head*/
.header{
	height : 500px;
	margin-left: 40px;
	padding-top: 50px;
	animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-top: 100%;
    width: 300%;
  }

  to {
    margin-top: 0%;
    width: 100%;
  }
}

.header h4{
	text-shadow: 2px 2px gray;
	font-family: "Caveat", cursive;
	font-optical-sizing: auto;
  	font-weight: 60vw;
  	font-style: normal;
	color: white;
	font-size: 3vw;
	position:relative;
	z-index: 2;
}
.header h3{
	text-shadow: 2px 2px gray;
	font-family: "Caveat Brush", cursive;
	color: white;
	font-size: 5vw;
	position:relative;
	z-index: 2;
}
.header h5{
	text-shadow: 2px 2px gray;
	color: white;
	font-size: 2vw;
	position:relative;
	z-index: 2;
}
.header p{
	margin-top: 5vw;
	color: white;
	font-size: 2vw;
	position:relative;
	z-index: 2;
}
.aku {
	max-width:100%;
	height:auto;
}
.soc {
	margin-top: 50px;
	margin-left: -50px; 
}
.fa {
  padding: 1vw;
  font-size: 4vw;
  width: 4vw;
  text-align: center;
  text-decoration: none;
  color: black;
  border-radius: 100%;
}
.fa:hover {
  color: #FFFFC1;
  opacity: 0.7;
}

/*main*/
.two{
	height: 650px;
	background-size: 100%;
}
.main .col-6 {
	background: url("../ASSET/1x/Asset 21.png");
	max-width:100%;
	background-size: cover;
	position: relative;
}
.main{
	margin: 50px 40px 300px ;
}
.main h2{
	text-shadow: 2px 2px gray;
	font-family: "Caveat Brush", cursive;
	padding-top: 5vw;
	color: white;
	font-size: 7vw;
	position: relative;
	z-index: 2;
}
.main h3{
	text-shadow: 2px 2px gray;
	color: white;
	font-size: 3.5vw;
	position: relative;
	z-index: 2;
}
.image3{
	margin-left: 8vw;
	max-width:100%;
	height:auto;
	padding-top: 4vw;
}
.col-12 .wrapper{
	margin-top: 50px;
}

/*foot*/

.footer{
	margin: 50px 40px;
}
.footer h3{
	text-shadow: 2px 2px gray;
	font-family: "Caveat Brush", cursive;
	color: white;
	font-size: 4vw;
	position: relative;
	z-index: 2;
}
.footer p{
	color: white;
	text-shadow: 2px 2px gray;
	font-size: 1.5vw;
	text-align: justify;
	padding-top: 50px;
	position: relative;
}
.bar{
	padding-top: 50px;
}
.w3-light-grey{
		box-shadow: 2px 3px gray;
	    text-shadow: 2px 1px gray;
		font-size: 1.5vw;
		width: 100%;
		margin-top: 15px;
}
.gif{
	max-width:100%;
	margin-left: 30px;
	align-content: center;
	z-index: 2;
	height: 250px;
	width: 250px;
	position: relative;
}